.vscode
*.log
*.class
*.lock
*.class
.gradle
*.bin
# Gradle
gradle/
**/.gradle/
build/
**/build/
buildвсе сдедл
# IntelliJ IDEA
.idea/
*.iml
out/

# Java build artifacts
*.class
*.class.uniqueid*
*.bin
.gradle-user-home
.android/
local.properties
androidApp/.cxx/
androidApp/build/
# (опционально) конкретные файлы Gradle-кэша
executionHistory.bin
fileHashes.bin
resourceHashesCache.bin
previous-compilation-data.bin
