.vscode
*.class
*.lock
*.class
.gradle
*.bin
# Gradle
gradle/
**/.gradle/
build/
**/build/
build/
# IntelliJ IDEA
.idea/
*.iml
out/

# Java build artifacts
*.class
*.class.uniqueid*
*.bin

# (опционально) конкретные файлы Gradle-кэша
executionHistory.bin
fileHashes.bin
resourceHashesCache.bin
previous-compilation-data.bin